.additional-offers__container {
  @media (max-width: calc($tablet - 1px)) {
    padding: 0 20px;
  }

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.additional-offers__title {
  margin: 0;
  margin-bottom: 36px;

  @include font($secondary-font, 24px, 24px, $primary-text-color);

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.additional-offers__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: calc($tablet - 1px)) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    flex-grow: 1;
  }
}

.additional-offers__item {
  padding-top: 13px;

  @media (min-width: $desktop) {
    margin-right: 80px;
  }
}

.additional-offers__promotion {
  margin: 0 auto;

  @media (max-width: calc($tablet - 1px)) {
    width: 280px;
    min-height: 290px;
  }

  @media (min-width: $tablet) {
    width: 708px;
    min-height: 200px;
  }

  @media (min-width: $desktop) {
    width: 245px;
    min-height: 288px;
  }
}
