.advantages__container {
  @media (max-width: calc($tablet - 1px)) {
    margin: 0 20px;
  }

  @media (min-width: $tablet) {
    margin: 0 105px 0 30px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.advantages__title {
  @include font($secondary-font, 36px, 40px, $primary-text-color);
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  &::before {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: $element-background-color;
    background-size: 30px 32px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: "";
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#leaf-icon");
  }

  &--cook::before {
    background-image: url("../../icons/stack.svg#cook-icon");
  }

  &--cutlery::before {
    background-image: url("../../icons/stack.svg#eat-icon");
  }

  &--clock::before {
    background-image: url("../../icons/stack.svg#clock-icon");
  }

  @media (max-width: calc($tablet - 1px)) {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    min-height: 280px;
  }
}
