.button {
  @include font($secondary-font, 16px, 20px, #ffffff, uppercase);
  text-decoration: none;

  &--primary {
    background-color: $element-background-color;
  }

  &--secondary {
    color: #444444;
    background-color: #f2f2f2;
  }
}
