.button {
  display: block;
  padding: 10px 30px;
  box-sizing: border-box;

  @include font($secondary-font, 16px, 20px, #ffffff, uppercase);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--primary {
    background-color: $element-background-color;

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--secondary {
    color: #444444;
    background-color: #f2f2f2;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.7);
    }
  }
}
