.logo__image {
  display: block;
  transition: 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    margin-right: 13px;
  }

  @media (min-width: $desktop) {
    margin-right: 14px;
  }
}

.logo__text {
  display: block;
  transition: 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop) {
    min-width: 118px;
    min-height: 21px;
  }
}
