.more-cards {
  &::before {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus-icon");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }
}

.more-cards__title {
  @include font($secondary-font, 16px, 20px, #111111, uppercase);
}

.more-cards__subtitle {
  font-size: 12px;
  line-height: 16px;
}
