.navigation {
  @media (max-width: calc($tablet - 1px)) {
    &--nojs {
      .navigation__toggle {
        visibility: hidden;
      }

      .navigation__list {
        display: block;
      }
    }
  }
}

.navigation__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#menu-open-icon");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &--active {
    background-image: url("../../icons/stack.svg#menu-close-icon");
    background-size: 18px 18px;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.navigation__list {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: calc($tablet - 1px)) {
    &--opened {
      position: absolute;
      display: block;
      background-color: #ffffff;
      z-index: 1;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    gap: 10px 33px;
    flex-wrap: wrap;
  }
}

.navigation__item {
  text-align: center;

  @media (max-width: calc($tablet - 1px)) {
    border-top: 1px solid #e6e6e6;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }
}

.navigation__link {
  display: block;

  @include font($secondary-font, 20px, 20px, $primary-text-color, uppercase);
  text-decoration: none;

  @media (max-width: calc($tablet - 1px)) {
    padding: 22px 20px 24px;
  }

  @media (min-width: $tablet) {
    padding: 12px 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    color: #ffffff;

    &--dark {
      color: #000000;
    }
  }
}
