.program {
  position: relative;
  background-color: $block-background-color;

  &--weight-loss::before {
    position: absolute;
    top: 24px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $element-background-color;
    border-radius: 50%;
    content: "";
  }

  &--weight-loss::after {
    position: absolute;
    top: 21px;
    left: 27px;
    display: block;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-slim-icon");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &--weight-gain::before {
    position: absolute;
    top: 24px;
    left: 21px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $element-background-color;
    border-radius: 50%;
    content: "";
  }

  &--weight-gain::after {
    position: absolute;
    top: 35px;
    left: 12px;
    display: block;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-pro-icon");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  @media (max-width: ($tablet - 1px)) {
    padding: 30px 20px 18px;
  }

  @media (min-width: $tablet) {
    padding: 77px 45% 53px 53px;

    &--weight-loss::before {
      top: 92px;
      left: 63%;
      width: 200px;
      height: 200px;
    }

    &--weight-loss::after {
      top: 81px;
      left: 67%;
      width: 140px;
      height: 194px;
    }

    &--weight-gain::before {
      top: 91px;
      left: 63%;
      width: 200px;
      height: 200px;
    }

    &--weight-gain::after {
      top: 135px;
      left: 58%;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop) {
    padding: 77px 61px 55px 52px;

    &--weight-loss::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--weight-loss::after {
      top: 41px;
      left: 67px;
      width: 70px;
      height: 97px;
    }

    &--weight-gain::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--weight-gain::after {
      top: 67px;
      left: 33px;
      width: 134px;
      height: 56px;
    }
  }
}

.program__title {
  margin: 0;

  @include font($secondary-font, 24px, 37px, $primary-text-color, uppercase);

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 29px;
    padding-left: 70px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.program__description {
  position: relative;

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 38px;

    &::after {
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
      content: "";
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 23px;
  }
}

.program__link {
  display: flex;
  align-items: center;
  column-gap: 17px;
  padding: 4px 60px 4px 0;
  box-sizing: border-box;

  @include font($secondary-font, 16px, 16px, $primary-text-color, uppercase);
  text-decoration: none;

  &::after {
    width: 24px;
    height: 12px;
    background-image: url("../../icons/stack.svg#arrow-icon");
    background-size: 32px 12px;
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    transition: width 0.2s;
  }

  &:hover::after {
    width: 32px;
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;
    }
  }

  @media (min-width: $tablet) {
    column-gap: 25px;
    font-size: 20px;
    line-height: 30px;
  }
}
