.program {
  position: relative;
  background-color: $block-background-color;

  &--weight-loss::before {
    position: absolute;
    top: 3px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $element-background-color;
    border-radius: 50%;
    content: "";
  }

  &--weight-loss::after {
    position: absolute;
    top: 0;
    left: 27px;
    display: block;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-slim-icon");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &--weight-gain::before {
    position: absolute;
    top: 0;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $element-background-color;
    border-radius: 50%;
    content: "";
  }

  &--weight-gain::after {
    position: absolute;
    top: 11px;
    left: 11px;
    display: block;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-pro-icon");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }
}

.program__title {
  padding-left: 90px;

  @include font($secondary-font, 24px, 37px, $primary-text-color, uppercase);
}

.program__link {
  display: flex;
  align-items: center;

  @include font($secondary-font, 16px, 16px, $primary-text-color, uppercase);
  text-decoration: none;

  &::after {
    width: 27px;
    height: 12px;
    background-image: url("../../icons/stack.svg#arrow-icon");
    background-size: 32px 12px;
    background-repeat: no-repeat;
    background-position: right;
    content: "";
  }

  &:hover::after {
    width: 32px;
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;
    }
  }
}
