.promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), image-set(url("../../images/index-background-mobile@1x.jpg") type("image/jpeg") 1x, url("../../images/index-background-mobile@2x.jpg") type("image/jpeg") 2x), linear-gradient(to right, #4f4f55 50%, #343437 100%);
  background-size: 100% 63%, 320px 302px, 100% 63%;
  background-repeat: no-repeat;
  background-position: left top, top center, left top;

  @media (min-width: $tablet) {
    background-image: none;
  }

  @media (min-width: $desktop) {
    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      min-width: 50%;
      min-height: 694px;
      content: "";
      background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), image-set(url("../../images/index-background-desktop@1x.jpg") type("image/jpeg") 1x, url("../../images/index-background-desktop@2x.jpg") type("image/jpeg") 2x), linear-gradient(to bottom, #313134 50%, #343438 100%);
      background-position: left top;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.promo__container {
  position: relative;
  text-align: center;

  @media (max-width: ($tablet - 1px)) {
    padding: 27px 20px 0;
  }

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    width: 708px;
    padding: 65px 30px 525px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 110px 0 265px;
  }
}

.promo__title {
  margin: 0;

  @include font($secondary-font, 36px, 36px, #ffffff);

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 40px;
    padding: 0 90px;
    font-size: 60px;
    line-height: 60px;
    color: $primary-text-color;
    text-align: left;
  }

  @media (min-width: $desktop) {
    padding: 0 55% 0 80px;
  }
}

.promo__slogan {
  margin: 0;

  @include font($secondary-font, 14px, 14px, #ffffff, uppercase);

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 29px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    padding: 0 90px;
    font-size: 20px;
    line-height: 20px;
    color: $primary-text-color;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
    padding: 0 55% 0 80px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto 3px;

  @media (min-width: $tablet) {
    position: absolute;
    bottom: -3px;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    top: 29px;
    right: 221px;
    z-index: 1;
  }
}

.promo__button {
  box-sizing: border-box;

  @media (max-width: ($tablet - 1px)) {
    width: 100%;
    padding: 10px 50px;
  }

  @media (min-width: $tablet) {
    width: 242px;
    margin-left: 90px;
    margin-bottom: 1px;
    padding: 14px 25px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    margin-left: 80px;
  }
}
