.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  @media (max-width: ($tablet - 1px)) {
    padding: 20px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet) {
    justify-content: flex-end;
  }
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;
  color: #666666;
  transition: 0.3s;

  &::before {
    display: block;
    width: 100%;
    height: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: currentColor;
    content: "";
  }

  &:hover,
  &:focus {
    color: $element-background-color;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vkontakte-icon");
    mask-size: 27px 17px;
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#youtube-icon");
    mask-size: 24px 19px;
  }

  &--telegram::before {
    mask-image: url("../../icons/stack.svg#telegram-icon");
    mask-size: 20px 17px;
  }
}
