.socials {
  list-style: none;
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;
  color: #666666;

  &::before {
    display: block;
    width: 100%;
    height: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: currentColor;
    content: "";
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vkontakte-icon");
    mask-size: 27px 17px;
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#youtube-icon");
    mask-size: 24px 19px;
  }

  &--telegram::before {
    mask-image: url("../../icons/stack.svg#telegram-icon");
    mask-size: 20px 17px;
  }

  &:hover,
  &:focus {
    color: $element-background-color;
  }

  &:active {
    opacity: 0.3;
  }
}
